@import './_variables';

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: $fontFamily;
}

.backDrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15rem;
    background-size: cover;
    background-image: url(/assets/images/pattern-bg.png);
    position: absolute;
    top:0;
    z-index: -1;
}

.informationContainer {
    @include flex;
    padding: 0 10rem;

    .heading {

        h1 {
            font-size: 2rem;
            color: $white;
            padding: 0;
            font-weight: 500;
            width: 100vw;
            text-align: center;
        }
    }

    .searchContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 3rem 0;

        .inputContainer {
            padding: 1rem;
            width: 25rem;
            border-radius: 0.75rem 0 0 0.75rem;
            border: none;
            color: $veryDarkGray;
        }

        .inputButton {
            padding: 1rem 1.5rem;
            background-color: $veryDarkGray;
            border-radius: 0 .75rem .75rem 0;
            cursor: pointer;
        }
    }

    .statisticsContainer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: $white;
        @include boxShadow;
        border-radius: 0.75rem;
        padding: 2rem 0;
        opacity: 100%;
        width: auto;

        .ipAddress {
            display: grid;
            align-items: flex-start;
            border-right: solid 0.5px $darkGray;
            padding: 0 1rem 0 2rem;

            .ipAddressTitle {
                @include containerTitles;
                position: relative;
                top:0;
            }

            .ipAddressValue {
                @include containerValues;
            }
        }

        .location {
            display: grid;
            align-items: flex-start;
            padding: 0 1rem 0 2rem;
            border-right: solid 0.5px $darkGray;

            .locationTitle {
                @include containerTitles;
                position: relative;
                top:0;
            }

            .locationValue {
                @include containerValues;
            }
        }

        .timezone {
            display: grid;
            align-items: flex-start;
            padding: 0 1rem 0 2rem;
            border-right: solid 0.5px $darkGray;

            .timezoneTitle {
                @include containerTitles;
                position: relative;
                top:0;
            }

            .timezoneValue {
                @include containerValues;
            }
        }

        .isp {
            display: grid;
            align-items: flex-start;
            padding: 0 1rem 0 2rem;

            .ispTitle {
                @include containerTitles;
                position: relative;
                top:0;
            }

            .ispValue {
                @include containerValues;
            }
        }
    }

    .statisticsContainer.active {
        opacity: 100%;
        transition: 0.5s all;
    }
}

#map {
    content: '';
    width: 100vw;
    height: calc(100vh - 15rem);
    background-color: $white;
    position: absolute;
    top:15rem;
    z-index: -1;
}

@media only screen and (max-width: 650px) {
    .informationContainer {
        @include flex;
        padding: 0 10rem;
    
        .heading {
    
            h1 {
                font-size: 1.5rem;
                color: $white;
                padding: 0;
                font-weight: 500;
                width: 100vw;
                text-align: center;
            }
        }
    
        .searchContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 0 1rem 0;
            width: calc(100vw - 2rem);
    
            .inputContainer {
                padding: 1rem;
                width: 25rem;
                border-radius: 0.75rem 0 0 0.75rem;
                border: none;
            }
    
            .inputButton {
                padding: 1rem 1.5rem;
                background-color: $veryDarkGray;
                border-radius: 0 0.75rem 0.75rem 0;
                cursor: pointer;
            }
        }
    
        .statisticsContainer {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            background-color: $white;
            @include boxShadow;
            border-radius: 0.75rem;
            width: calc(100vw - 2rem);
            padding: 1rem 0;
            opacity: 100%;
    
            .ipAddress {
                display: grid;
                align-items: center;
                text-align: center;
                border-right: solid 0.5px $darkGray;
                padding: 0 0.5rem;
    
                .ipAddressTitle {
                    @include containerTitlesMobile;
                    position: relative;
                    top:0;
                }
    
                .ipAddressValue {
                    @include containerValuesMobile;
                }
            }
    
            .location {
                display: grid;
                align-items: center;
                text-align: center;
                padding: 0 0.5rem;
                border-right: solid 0.5px $darkGray;
    
                .locationTitle {
                    @include containerTitlesMobile;
                    position: relative;
                    top:0;
                }
    
                .locationValue {
                    @include containerValuesMobile;
                }
            }
    
            .timezone {
                display: grid;
                align-items: center;
                text-align: center;
                padding: 0 0.5rem;
                border-right: solid 0.5px $darkGray;
    
                .timezoneTitle {
                    @include containerTitlesMobile;
                    position: relative;
                    top:0;
                }
    
                .timezoneValue {
                    @include containerValuesMobile;
                }
            }
    
            .isp {
                display: grid;
                align-items: center;
                text-align: center;
                padding: 0 0.5rem;
    
                .ispTitle {
                    @include containerTitlesMobile;
                    position: relative;
                    top:0;
                }
    
                .ispValue {
                    @include containerValuesMobile;
                }
            }
        }
    
        .statisticsContainer.active {
            opacity: 100%;
            transition: 0.5s all;
        }
    }
}