body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

.backDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 15rem;
  background-size: cover;
  background-image: url(/assets/images/pattern-bg.png);
  position: absolute;
  top: 0;
  z-index: -1;
}

.informationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10rem;
}
.informationContainer .heading h1 {
  font-size: 2rem;
  color: white;
  padding: 0;
  font-weight: 500;
  width: 100vw;
  text-align: center;
}
.informationContainer .searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 3rem 0;
}
.informationContainer .searchContainer .inputContainer {
  padding: 1rem;
  width: 25rem;
  border-radius: 0.75rem 0 0 0.75rem;
  border: none;
  color: hsl(0deg, 0%, 17%);
}
.informationContainer .searchContainer .inputButton {
  padding: 1rem 1.5rem;
  background-color: hsl(0deg, 0%, 17%);
  border-radius: 0 0.75rem 0.75rem 0;
  cursor: pointer;
}
.informationContainer .statisticsContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  padding: 2rem 0;
  opacity: 100%;
  width: auto;
}
.informationContainer .statisticsContainer .ipAddress {
  display: grid;
  align-items: flex-start;
  border-right: solid 0.5px hsl(0deg, 0%, 59%);
  padding: 0 1rem 0 2rem;
}
.informationContainer .statisticsContainer .ipAddress .ipAddressTitle {
  font-size: 15px;
  color: hsl(0deg, 0%, 59%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0;
}
.informationContainer .statisticsContainer .ipAddress .ipAddressValue {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.informationContainer .statisticsContainer .location {
  display: grid;
  align-items: flex-start;
  padding: 0 1rem 0 2rem;
  border-right: solid 0.5px hsl(0deg, 0%, 59%);
}
.informationContainer .statisticsContainer .location .locationTitle {
  font-size: 15px;
  color: hsl(0deg, 0%, 59%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0;
}
.informationContainer .statisticsContainer .location .locationValue {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.informationContainer .statisticsContainer .timezone {
  display: grid;
  align-items: flex-start;
  padding: 0 1rem 0 2rem;
  border-right: solid 0.5px hsl(0deg, 0%, 59%);
}
.informationContainer .statisticsContainer .timezone .timezoneTitle {
  font-size: 15px;
  color: hsl(0deg, 0%, 59%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0;
}
.informationContainer .statisticsContainer .timezone .timezoneValue {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.informationContainer .statisticsContainer .isp {
  display: grid;
  align-items: flex-start;
  padding: 0 1rem 0 2rem;
}
.informationContainer .statisticsContainer .isp .ispTitle {
  font-size: 15px;
  color: hsl(0deg, 0%, 59%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0;
}
.informationContainer .statisticsContainer .isp .ispValue {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.informationContainer .statisticsContainer.active {
  opacity: 100%;
  transition: 0.5s all;
}

#map {
  content: "";
  width: 100vw;
  height: calc(100vh - 15rem);
  background-color: white;
  position: absolute;
  top: 15rem;
  z-index: -1;
}

@media only screen and (max-width: 650px) {
  .informationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem;
  }
  .informationContainer .heading h1 {
    font-size: 1.5rem;
    color: white;
    padding: 0;
    font-weight: 500;
    width: 100vw;
    text-align: center;
  }
  .informationContainer .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    width: calc(100vw - 2rem);
  }
  .informationContainer .searchContainer .inputContainer {
    padding: 1rem;
    width: 25rem;
    border-radius: 0.75rem 0 0 0.75rem;
    border: none;
  }
  .informationContainer .searchContainer .inputButton {
    padding: 1rem 1.5rem;
    background-color: hsl(0deg, 0%, 17%);
    border-radius: 0 0.75rem 0.75rem 0;
    cursor: pointer;
  }
  .informationContainer .statisticsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: white;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    width: calc(100vw - 2rem);
    padding: 1rem 0;
    opacity: 100%;
  }
  .informationContainer .statisticsContainer .ipAddress {
    display: grid;
    align-items: center;
    text-align: center;
    border-right: solid 0.5px hsl(0deg, 0%, 59%);
    padding: 0 0.5rem;
  }
  .informationContainer .statisticsContainer .ipAddress .ipAddressTitle {
    font-size: 13px;
    color: hsl(0deg, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    top: 0;
  }
  .informationContainer .statisticsContainer .ipAddress .ipAddressValue {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .informationContainer .statisticsContainer .location {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem;
    border-right: solid 0.5px hsl(0deg, 0%, 59%);
  }
  .informationContainer .statisticsContainer .location .locationTitle {
    font-size: 13px;
    color: hsl(0deg, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    top: 0;
  }
  .informationContainer .statisticsContainer .location .locationValue {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .informationContainer .statisticsContainer .timezone {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem;
    border-right: solid 0.5px hsl(0deg, 0%, 59%);
  }
  .informationContainer .statisticsContainer .timezone .timezoneTitle {
    font-size: 13px;
    color: hsl(0deg, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    top: 0;
  }
  .informationContainer .statisticsContainer .timezone .timezoneValue {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .informationContainer .statisticsContainer .isp {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem;
  }
  .informationContainer .statisticsContainer .isp .ispTitle {
    font-size: 13px;
    color: hsl(0deg, 0%, 59%);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
    top: 0;
  }
  .informationContainer .statisticsContainer .isp .ispValue {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .informationContainer .statisticsContainer.active {
    opacity: 100%;
    transition: 0.5s all;
  }
}
